* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: rgba(229, 84, 115, 0.1);
    margin-top: 0;
    padding: 100px;
}

.header-pic {
    width: 500px;
    height: 700px;
}

.primary-btn {
    background-color: rgba(229, 84, 115, 1);
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 0;
    border: 0px;
}

.banner {
    display: flex;
    align-items: center;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 700;
}

.featured-title {
    text-align: center;
}

.first {
    background-color: rgba(167, 33, 98, 0.15);
    width: 364px;
    height: 438px;
}

.second {
    background-color: rgba(5, 151, 160, 0.15);
    width: 364px;
    height: 438px;
}

.third {
    background-color: rgba(71, 125, 17, 0.15);
    width: 364px;
    height: 438px;
}

.featured-items {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.item-des {
    text-decoration: underline;
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
}

.test-one {
    border-radius: 50px;
}

.hot-deal {
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social {
    text-align: center;

}

.s-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    border: 0px;

}

.s-description {
    display: flex;
    width: 594px;
    text-align: center;
    padding-left: 450px;
    border: 0px;
}

.social-pic {
    width: 342px;
    height: 326px;
    display: flex;
    gap: 24px;
    padding-left: 150px;
}

.latest-deal {
    background-image: url('/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center top;
    height: 400px;
    margin-top: 120px;
}

.deal-title {
    text-align: center;
}

.email {
    width: 500px;
    height: 30px;
    border-radius: 8px;
}

.footer-part {
    width: 1722px;
    height: 400px;
    background-color: rgba(17, 16, 16, 1);

}
.foot-des {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-weight: 400;
line-height: 30px;
}
.copyright{
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    font-size: 16px;
    
}
.foot-title{
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 28px;
}
span{
    color: rgba(229, 84, 115, 1);
}
.footer-part{
    text-align: center;
    
}